*{
    font-size: 24px;
    color: white;
}
.wrapper{
    margin: auto;
    width: 1200px;
    display: flex;
    background-color: grey;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.orange{
    margin-left: 20px;
    padding: 10px 10px;
    background-color: orange;
    flex-basis: 200px;
    text-align: center;
}
.red{
    padding: 10px 10px;
    background-color: red;
    flex-basis: 200px;
    text-align: center;
}
.purple{
    padding: 10px 10px;
    background-color: purple;
    flex-basis: 200px;
    text-align: center;
}
.blue{
    padding: 10px 10px;
    background-color: lightskyblue;
    flex-basis: 200px;
    text-align: center;
}
.green{
    padding: 10px 10px;
    background-color: green;
    flex-basis: 200px;
    text-align: center;
}
.line{
    box-sizing: border-box;
    height: 10px;
    width: 1280px;
    margin: auto;
    background-color: white;
    padding-top: 5px;
}
.in_line{
    height: 5px;
    background-color: white;
}
.orange:hover ~ .line .in_line{
    background-color: orange;
}
.red:hover ~ .line .in_line{
    background-color: red;
}
.purple:hover ~ .line .in_line{
    background-color: purple;
}
.blue:hover ~ .line .in_line{
    background-color: lightskyblue;
}
.green:hover ~ .line .in_line{
    background-color: green;
}