@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
form{
    position: absolute;
    margin: auto;
    padding: 75px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: white;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
input, button{
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 5px;
}
input{
    background-color: whitesmoke;
}
input, input::placeholder{
    text-align: center;
    font-size: 24px;
}
input:focus + .placeholder{
    pointer-events: none;
}
button{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
}
.header, a, input, button{
    margin-bottom: 20px;
}
input::placeholder{
    color: rgb(165, 164, 164);
}
.header{
    color: grey;
    font-size: 40px;
    font-weight: 700;
}
a{
    color: black;
}